<div class="apply-wrapper">
    <div class="apply__inner inner-padding">
        <h1 class="no-margin-top">Submit your application</h1>
        <h3>You are applying for the <em><title></em> position at Procurement Leaders.</h3>

        <div class="apply__form-wrapper">
            <div class="apply__form-inner">


                <h3>Upload your CV and populate fields</h3>
                <input-resumeUploadPreview>


                    <h3>Tell us about yourself</h3>
                    <p class="instructions">All fields marked with asterisk (*) are required.</p>

                    <div class="field-group-wrapper">
                        <label id="firstNameLabel" for="firstName"><span class="required-field">*</span>First
                            Name:</label>
                        <input-firstName>
                    </div>

                    <div class="field-group-wrapper">
                        <label id="lastNameLabel" for="lastName"><span class="required-field">*</span>Last
                            Name:</label>
                        <input-lastName>
                    </div>
                    <div class="field-group-wrapper">
                        <label id="emailLabel" for="email"><span class="required-field">*</span>Email
                            Adddress:</label>

                        <input-email>
                    </div>
                    <div class="field-group-wrapper">
                        <label id="emailConfirmLabel" for="emailconfirm"><span class="required-field">*</span>Confirm
                            Email:</label>

                        <input-emailconfirm>
                    </div>


                    <h3>How should we contact you?</h3>

                    <div class="field-group-wrapper">
                        <label id="homePhoneLabel" for="homePhone">Phone number:</label>

                        <input-phone-home>
                    </div>

                    <div class="field-group-wrapper">
                        <label id="bestTimeLabel" for="bestTime"><span class="required-field">*</span>Best time to call:</label>

                        <input-best-time-to-call>
                    </div>

                    <div class="field-group-wrapper">
                        <label id="cityProvinceLabel"
                               for="cityProvince"><span class="required-field">*</span>City/Province:</label>

                        <input-city>
                    </div>


                    <h3>Additional Information</h3>

                    <div class="field-group-wrapper">
                        <label id="keySkillsLabel" for="keySkills"><span class="required-field">*</span>Key
                            Skills:</label>
                        <input-keySkills>
                    </div>


                    <button
                            onmouseover="buttonMouseOver('submitApplicationNow',true)"
                            onmouseout="buttonMouseOver('submitApplicationNow',false)"
                            style="cursor: pointer;"
                            id="submitApplicationNow"
                            class="button main"
                            onclick="if (applyValidate()) { document.applyToJobForm.submit(); }">SUBMIT APPLICATION
                    </button>


            </div>
        </div>
    </div>
</div>