<footer class="footer">
    <div class="max-width-80">
        <div class="footer__inner inner-padding">
            <div class="footer-top-half-wrapper">
                <div class="footer-top-half-inner">

                    <div class="pull-left footer-half">
                        <ul class="no-list">

                            <li class="pull-left"><a class="white-text h5-style" href="/login">Login</a></li>
                            <li class="pull-left"><a class="white-text h5-style"
                                                     href="https://www.procurementleaders.com/product">Product</a>
                            </li>
                            <li class="pull-left"><a class="white-text h5-style"
                                                     href="https://www.procurementleaders.com/company">Company</a>
                            </li>
                            <li class="pull-left"><a class="white-text h5-style"
                                                     href="https://www.procurementleaders.com/procurement-resource-library">Resources</a>
                            </li>
                            <li class="pull-left"><a class="white-text h5-style"
                                                     href="https://www.procurementleaders.com/blog">Blog</a>
                            </li>
                            <li class="pull-left"><a class="white-text h5-style"
                                                     href="https://www.procurementleaders.com/magazine">Magazine</a>
                            </li>
                            <li class="pull-left"><a class="white-text h5-style"
                                                     href="https://events.procurementleaders.com/"
                                                     target="_blank">Events</a>
                            </li>

                            <li class="pull-left"><a class="white-text h5-style"
                                                     href="https://marketplace.procurementleaders.com/" target="_blank">Marketplace</a>
                            </li>

                            <li class="pull-left"><a class="white-text h5-style"
                                                     href="https://www.procurementleaders.com/digital-partnerships">Partnerships</a>
                            </li>

                            <li class="pull-left"><a class="white-text h5-style"
                                                     href="http://careers.procurementleaders.com/"
                                                     target="_blank">Careers</a>
                            </li>


                            <li class="pull-left"><a class="white-text h5-style"
                                                     href="https://www.procurementleaders.com/contact">Contact</a>
                            </li>


                        </ul>
                    </div>
                    <div class="pull-left footer-half">
                        <ul class="pull-right no-list social-footer">
                            <li class="pull-left">
                                <a href="https://twitter.com/procurementmag"
                                   target="_blank"
                                   rel="noopener noreferrer">
                                    <img src="https://www.procurementleaders.com//AcuCustom/Sitename/Icon/Icons/twitter-icon-footer.png">
                                </a>
                            </li>
                            <li class="pull-left">
                                <a href="https://www.linkedin.com/company/1691125" target="_blank"
                                   rel="noopener noreferrer">
                                    <img src="https://www.procurementleaders.com//AcuCustom/Sitename/Icon/Icons/linkedin-icon-footer.png">
                                </a>
                            </li>
                            <li class="pull-left">
                                <a href="https://plus.google.com/111573453200122452503" target="_blank"
                                   rel="noopener noreferrer">
                                    <img src="https://www.procurementleaders.com//AcuCustom/Sitename/Icon/Icons/g-plus-icon-footer.png">
                                </a>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
            <div class="footer-bottom-half-wrapper">
                <div class="footer-bottom-half-inner">

                    <ul class="no-list">
                        <li class="pull-left"><a class="white-text h5-style"
                                                 target="_blank"
                                                 rel="noopener noreferrer"
                                                 href="https://www.procurementleaders.com/policies/commitment-to-gdpr">Commitment
                            to
                            GDPR</a>
                        </li>

                        <li class="pull-left"><a class="white-text h5-style"
                                                 target="_blank"
                                                 rel="noopener noreferrer"
                                                 href="https://www.procurementleaders.com/policies/terms-of-use">Terms
                            of
                            use</a>
                        </li>
                        <li class="pull-left"><a class="white-text h5-style"
                                                 target="_blank"
                                                 rel="noopener noreferrer"
                                                 href="https://www.procurementleaders.com/policies/cookie-policy">Cookie
                            Policy</a>
                        </li>
                        <li class="pull-left"><a class="white-text h5-style"
                                                 target="_blank"
                                                 rel="noopener noreferrer"
                                                 href="https://www.procurementleaders.com/policies/privacy-policy">Privacy
                            Policy</a>
                        </li>
                    </ul>

                    <br>

                    <p class="disclaimer h6-style">© Procurement Leaders Limited and its contributors. All rights
                        reserved.
                        <a href="https://www.procurementleaders.com/" target="_blank" rel="noopener noreferrer">www.procurementleaders.com</a>
                        <br>Procurement Leaders Limited
                        accepts no responsibility for advice or information contained on this site although every effort
                        is
                        made to ensure its accuracy. Users are advised to seek independent advice from qualified persons
                        before acting upon any such information.</p>
                </div>
            </div>
        </div>
    </div>
</footer>
