<header id="site-header">
    <div class="site-header__inner">
        <a href="/" class="site-header__logo__link">
            <img class="site-header__logo-image" src="https://www.procurementleaders.com/AcuCustom/Sitename/Icon/Icons/PL_Logo.svg" alt="Procurement Leaders logo"/>
        </a>
        <div class="site-header__links">
        <ul class="no-list">
            <li>
                <a href="https://plcareers.procurementleaders.com/m=careers&p=showAll">Available positions</a>
            </li>
            <li>
                <a href="https://www.procurementleaders.com/company" target="_blank" rel="noopener noreferrer">About us</a>
            </li>
        </ul>
        </div>
    </div>
</header>