<header class="home-header-wrapper">
    <div class="home-header__inner">

        <div class="home-header__details-wrapper">
            <p class="home-header-details__inner">
            <h1 class="no-margin-top">WORK WITH US</h1>
            <p class="h3-style">At Procurement Leaders we like to aim high. High achievement, high ambition, high
                growth, high speed and
                high reward.</p>
            <p class="h3-style">With amazing people in our team, both present and future, we can continue to accomplish
                these things.</p>
            <p class="h3-style">Do we match your aspirations? If yes, we’d like to hear from you.</p>
            <div class="text-center">
                <a href="m=careers&p=showAll" class="button primary">VIEW AVAILABLE POSITIONS</a>
            </div>
        </div>
    </div>
    </div>
</header>


<section class="section about-us">
    <div class="section__inner inner-padding">
        <h2 class="section-heading text-center">About us</h2>
        <p class="about-para">Founded in 2004, we are an innovative and multi award winning b2b
            intelligence and networking company specialising in the area of procurement, sourcing and
            supply chain management. Our primary property is Procurement Leaders™
            (<a href="https://www.procurementleaders.com/">www.procurementleaders.com</a>), a global membership-led
            community providing essential market
            intelligence, data, education and networking services to the world’s top procurement
            executives and their enterprises. We work with over 700 leading corporations and 24,000
            senior professionals, equipping them with expert practices that transform functional
            performance, uncover innovations and drive measurable value to their organisations.</p>
    </div>
</section>

<section class="section vision-purpose fullwidth inline-block">
    <div class="section__inner inner-padding">

        <div class="table-row">
            <div class="table-cell relative text-center">
                <img class="icon"
                     style="max-width: 100%"
                     src="https://d38pwt70f9bn29.cloudfront.net/AcuCustom/Sitename/Icon/Icons/globe-icon-small-white.svg">
                <h3 class="white-text">Our vision</h3>
                <p class="white-text h4-style">Our vision is to build the world’s ‘most valued’
                    procurement network, a unique and vital destination that connects, inspires and
                    supports our members to become more successful.</p>
            </div>
        </div>
    </div>
</section>


<section class="section leaders-values  fullwidth inline-block">
    <div class="section__inner inner-padding">
        <h2 class="section-heading text-center">Our values</h2>
        <div class="table fullwidth">
            <div class="table-row">
                <div class="inline-block fullwidth">
                    <div class="table-cell align-top"><p class="valueCharUpper">L</p></div>
                    <div class="table-cell padding-left"><p class="h3-style semi-bold">Leads:</p><br>
                        <p class="roboto">translates vision into reality for customers, company and
                            team</p></div>
                </div>
            </div>
            <div class="table-row">
                <div class="inline-block fullwidth">
                    <div class="table-cell align-top"><p class="valueCharUpper">E</p></div>
                    <div class="table-cell padding-left"><p class="h3-style semi-bold">
                        Entrepreneurial:</p><br>
                        <p class="roboto">innovates and takes action</p></div>
                </div>
            </div>
            <div class="table-row">
                <div class="inline-block fullwidth">
                    <div class="table-cell align-top"><p class="valueCharUpper">A</p></div>
                    <div class="table-cell padding-left"><p class="h3-style semi-bold">Ambitious:</p>
                        <br>
                        <p class="roboto">aims high for self and others</p></div>
                </div>
            </div>
            <div class="table-row">
                <div class="inline-block fullwidth">
                    <div class="table-cell align-top"><p class="valueCharUpper">D</p></div>
                    <div class="table-cell padding-left"><p class="h3-style semi-bold">Driven</p><br>
                        <p class="roboto">is clear-sighted, agile and goal-focused</p></div>
                </div>
            </div>
            <div class="table-row">
                <div class="inline-block fullwidth">
                    <div class="table-cell align-top"><p class="valueCharUpper">E</p></div>
                    <div class="table-cell padding-left"><p class="h3-style semi-bold">Energetic:</p>
                        <br>
                        <p class="roboto">brings vitality, stamina and enthusiasm to all activities</p>
                    </div>
                </div>
            </div>
            <div class="table-row">
                <div class="inline-block fullwidth">
                    <div class="table-cell align-top"><p class="valueCharUpper">R</p></div>
                    <div class="table-cell padding-left"><p class="h3-style semi-bold">Resilient:</p>
                        <br>
                        <p class="roboto">sustains high performance in the face of challenge</p></div>
                </div>
            </div>
            <div class="table-row">
                <div class="inline-block fullwidth">
                    <div class="table-cell align-top"><p class="valueCharUpper">s</p></div>
                    <div class="table-cell padding-left"><p class="h3-style semi-bold">Smart:</p><br>
                        <p class="roboto">balances sharp intelligence with insight and understanding</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="text-center">
            <a href="m=careers&p=showAll" class="button primary">VIEW AVAILABLE POSITIONS</a>
        </div>

    </div>
</section>

<section class="section">
    <div class="section__inner inner-padding">


        <p class="h2-style">Our Board and leadership team are laser-focused on
            maximising the value procurement professionals are able to bring to their organisation. We
            provide
            the platform for transformation and deliver the insight to accelerate change.</p>


        <h3 class="text-center fullwidth inner-padding">Board &amp; Advisors</h3>
        <div class="team-wrapper">
            <div class="team-member">
                <img src="https://d38pwt70f9bn29.cloudfront.net/AcuCustom/Sitename/Icon/Icons/Nandini-Basuthakur-2017.jpg"
                     alt="Nandini Basuthakur - Procurement Leaders CEO">
                <p class="team-member__name">Nandini Basuthakur</p>
                <p class="team-member__job-title">CEO</p>
            </div>
            <div class="team-member">
                <img src="https://d38pwt70f9bn29.cloudfront.net/AcuCustom/Sitename/Icon/Icons/Alex-Martinez-2017.jpg"
                     alt="Alex Martinez">

                <p class="team-member__name">Alex Martinez</p>

                <p class="team-member__job-title">NED &amp; Founder</p>
            </div>
            <div class="team-member">
                <img src="https://d38pwt70f9bn29.cloudfront.net/AcuCustom/Sitename/Icon/Icons/Richard-Pope-2017.jpg"
                     alt="Richard Pope">
                <p class="team-member__name">Richard Pope</p>
                <p class="team-member__job-title">NED &amp; Founder</p>
            </div>
            <div class="team-member"><img
                    src="https://d38pwt70f9bn29.cloudfront.net/AcuCustom/Sitename/Icon/Icons/Mark-Perera-small-2018.jpg"
                    alt="Mark Perera">
                <p class="team-member__name">Mark Perera</p>
                <p class="team-member__job-title">NED &amp; Founder</p>
            </div>
            <div class="team-member"><img
                    src="https://d38pwt70f9bn29.cloudfront.net/AcuCustom/Sitename/Icon/Icons/Andy-Cox-2017.jpg"
                    alt="Andrew Cox">
                <p class="team-member__name">Andrew Cox</p>
                <p class="team-member__job-title">Finance Director</p>
            </div>
            <div class="team-member">
                <img src="https://d38pwt70f9bn29.cloudfront.net/AcuCustom/Sitename/Icon/Icons/david_gilbertson_board.jpg"
                     alt="David Gilbertson">
                <p class="team-member__name">David Gilbertson</p>
                <p class="team-member__job-title">NED &amp; Chairman</p>
            </div>
        </div>

    </div>
</section>

<section class="section">
    <div class="section__inner inner-padding">

        <h3 class="text-center fullwidth inline-block">Executive management</h3>

        <div class="team-wrapper">
            <div class="team-member">
                <img src="https://d38pwt70f9bn29.cloudfront.net/AcuCustom/Sitename/Users/8AA1D618-EE07-4755-5857558E34642B1D/8AA1D618-EE07-4755-5857558E34642B1Dp.jpg?cdn=dt06062018012035"
                     alt="Nandini Basuthakur" title="Nandini Basuthakur">
                <p class="team-member__name">Nandini Basuthakur</p>
                <p class="team-member__job-title">CEO</p>
            </div>
            <div class="team-member">
                <img src="https://d38pwt70f9bn29.cloudfront.net/AcuCustom/Sitename/Users/B8AABD14-C37A-C21E-A1B3FC934D2FCF38/B8AABD14-C37A-C21E-A1B3FC934D2FCF38p.jpg?cdn=dt08232018054356"
                     alt="Andrew Cox" title="Andrew Cox">
                <p class="aos-ArticleTitle aos-DS35-H2 aos-M0">Andrew Cox</p>
                <p class="team-member__job-title">Finance Director</p>
            </div>
            <div class="team-member">
                <img src="https://d38pwt70f9bn29.cloudfront.net/AcuCustom/Sitename/Users/8A75DBFE-F810-27F7-D5C5D0C682C8CA9C/8A75DBFE-F810-27F7-D5C5D0C682C8CA9Cp.jpg?cdn=dt04202018030128"
                     alt="Alex Franklin" title="Alex Franklin">
                <p class="team-member__job-title">Alex Franklin</p>

                <p class="team-member__job-title">Strategy &amp;
                    Operations Director
                </p>
            </div>
            <div class="team-member">
                <img src="https://d38pwt70f9bn29.cloudfront.net/AcuCustom/Sitename/Users/3F1C9BBD-007E-7B52-207F3B74D9A274FA/3F1C9BBD-007E-7B52-207F3B74D9A274FAp.jpg?cdn=dt08162018102449"
                     alt="Salman Mankani" title="Salman Mankani"
                     class="team-member__head-shot">
                <p class="team-member__job-title">Salman Mankani</p>
                <p class="team-member__job-title">Chief Commercial
                    Officer
                </p>
            </div>
            <div class="team-member">
                <img src="https://d38pwt70f9bn29.cloudfront.net/AcuCustom/Sitename/Users/D30B40F9-BD50-7FFE-6CDC9E9377BF9C69/D30B40F9-BD50-7FFE-6CDC9E9377BF9C69p.jpg?cdn=dt08232018120353"
                     alt="Errol Rasit" title="Errol Rasit"
                     class="team-member__head-shot">
                <p class="team-member__job-title">Errol Rasit</p>
                <p class="team-member__job-title">Chief Innovation &amp; Product Officer</p>
            </div>
        </div>


    </div>
</section>
<section class="section">
    <div class="section__inner inner-padding">

        <h3 class="text-center fullwidth inline-block">Senior management</h3>

        <div class="team-wrapper">
            <div class="team-member">
                <img src="https://d38pwt70f9bn29.cloudfront.net/AcuCustom/Sitename/Users/F78720A2-9010-D2E6-D914B2C3BC22DD5F/F78720A2-9010-D2E6-D914B2C3BC22DD5Fp.jpg?cdn=dt04202018030021"
                     alt="Francesca Bacigalupo" title="Francesca Bacigalupo"
                     class="team-member__head-shot"/>
                <p class="team-member__job-title">Francesca Bacigalupo</p>
                <p class="team-member__job-title">Regional Membership
                    Lead
                </p>
            </div>
            <div class="team-member">
                <img src="https://d38pwt70f9bn29.cloudfront.net/AcuCustom/Sitename/Users/E42461B6-B09C-54EE-2F817332E0C5CCB9/E42461B6-B09C-54EE-2F817332E0C5CCB9p.jpg?cdn=dt08212018035520"
                     alt="Matthew Dias" title="Matthew Dias"
                     class="team-member__head-shot">
                <p class="team-member__job-title">Matthew Dias</p>

                <p class="team-member__job-title">Commercial Director</p>
            </div>
            <div class="team-member">
                <img src="https://d38pwt70f9bn29.cloudfront.net/AcuCustom/Sitename/Users/91C2649E-0AC4-1D47-C223EE5D0C8B81EE/91C2649E-0AC4-1D47-C223EE5D0C8B81EEp.jpg?cdn=dt08102018011824"
                     alt="Tom Dreger" title="Tom Dreger"
                     class="team-member__head-shot">

                <p class="team-member__job-title">Tom Dreger</p>

                <p class="team-member__job-title">Regional Membership Lead</p>
            </div>
            <div class="team-member">
                <img src="https://d38pwt70f9bn29.cloudfront.net/AcuCustom/Sitename/Users/7A7B3A7C-BAE0-0CD3-AE7D6E0004907D81/7A7B3A7C-BAE0-0CD3-AE7D6E0004907D81p.jpg?cdn=dt08232018031649"
                     alt="Stephen Hall" title="Stephen Hall"
                     class="team-member__head-shot">

                <p class="team-member__job-title">Stephen Hall</p>

                <p class="team-member__job-title">Director content & community</p>
            </div>
            <div class="team-member">
                <img src="https://d38pwt70f9bn29.cloudfront.net/AcuCustom/Sitename/Users/5ACB89A9-018B-09E0-8279A633F5140CD0/5ACB89A9-018B-09E0-8279A633F5140CD0p.jpg?cdn=dt07302018091943"
                     alt="Fouad Katat" title="Fouad Katat"
                     class="team-member__head-shot">
                <p class="team-member__job-title">Fouad Katat</p>

                <p class="team-member__job-title">Director, Sales &amp;
                    Client Relationships
                </p>
            </div>
            <div class="team-member">
                <img src="https://d38pwt70f9bn29.cloudfront.net/AcuCustom/Sitename/Users/E1556E55-92A6-8C7D-5419C1231AB2CAC7/E1556E55-92A6-8C7D-5419C1231AB2CAC7p.jpg?cdn=dt08232018121213"
                     alt="Kendal Mott" title="Kendal Mott"
                     class="team-member__head-shot">

                <p class="team-member__job-title">Kendal Mott</p>

                <p class="team-member__job-title">Marketing Director
                </p>
            </div>
            <div class="team-member">
                <img src="https://d38pwt70f9bn29.cloudfront.net/AcuCustom/Sitename/Users/35D5A4D2-DED0-0AAD-D0FC655734B9346F/35D5A4D2-DED0-0AAD-D0FC655734B9346Fp.jpg?cdn=dt08232018025946"
                     alt="David Rae" title="David Rae">

                <p class="team-member__job-title">David Rae</p>

                <p class="team-member__job-title">Director Insights & Innovation
                </p>
            </div>
            <div class="team-member">
                <img src="https://d38pwt70f9bn29.cloudfront.net/AcuCustom/Sitename/Users/D10604D5-0494-B084-8F283AFC7649FC42/D10604D5-0494-B084-8F283AFC7649FC42p.jpg?cdn=dt08232018050707"
                     alt="Lorenza Schiaffino" title="Lorenza Schiaffino">

                <p class="team-member__job-title">Lorenza Schiaffino</p>

                <p class="team-member__job-title">Head of Content
                    Research Events
                </p>
            </div>
            <div class="team-member">
                <img src="https://d38pwt70f9bn29.cloudfront.net/AcuCustom/Sitename/Users/376B7296-088E-8088-1BFEB83AD34AE447/376B7296-088E-8088-1BFEB83AD34AE447p.jpg?cdn=dt08212018051031"
                     alt="Roseanne Spagnuolo" title="Roseanne Spagnuolo"
                     class="team-member__head-shot">
                <p class="team-member__job-title">Roseanne Spagnuolo</p>
                <p class="team-member__job-title">Head of Executive Advisory</p>
            </div>
        </div>


        <div class="text-center inline-block fullwidth">
        <a href="m=careers&p=showAll" class="button primary">VIEW AVAILABLE POSITIONS</a>
        </div>


    </div>
</section>


<!--<section class="section team-wrapper">-->
    <!--<div class="section__inner team__inner inner-padding">-->
        <!--<h3 class="text-center">Advisory board</h3>-->
        <!--<div class="chair-wrapper">-->
            <!--<div class="team-member"><p class="roboto bold">CHAIRMAN</p><img-->
                    <!--src="https://d38pwt70f9bn29.cloudfront.net/AcuCustom/Sitename/Icon/Icons/Tom-Linton-small-2017.jpg">-->
                <!--<p class="team-member__name">Tom Linton</p>-->
                <!--<p class="member-title">CPO &amp; SVP Procurement, Flextronics</p></div>-->
            <!--<div class="team-member">-->
                <!--<p class="roboto bold">PL CHAIR</p>-->
                <!--<img-->
                        <!--src="https://d38pwt70f9bn29.cloudfront.net/AcuCustom/Sitename/Icon/Icons/Nandini-Basuthakur-2017.jpg"-->
                        <!--alt="Nandini Basuthakur">-->
                <!--<p class="team-member__name">Nandini Basuthakur</p>-->
                <!--<p class="member-title">CEO, Procurement Leaders</p></div>-->
        <!--</div>-->
        <!--<div class="team-wrapper">-->
            <!--<div class="team-member"><img-->
                    <!--src="https://d38pwt70f9bn29.cloudfront.net/AcuCustom/Sitename/Icon/Icons/jamal_chamariq17.jpg">-->
                <!--<p class="team-member__name">Jamal Chamariq</p>-->
                <!--<p class="member-title">SVP Global Supply Chain - APAC, Estée Lauder</p></div>-->
            <!--<div class="team-member">-->
                <!--<img-->
                        <!--src="https://d38pwt70f9bn29.cloudfront.net/AcuCustom/Sitename/Icon/Icons/gianluca-company-thumb.jpg">-->
                <!--<p class="team-member__name">Gianluca Colombo</p>-->
                <!--<p class="member-title">SVP Procurement, Ferrero</p></div>-->
            <!--<div class="team-member"><img-->
                    <!--src="https://d38pwt70f9bn29.cloudfront.net/AcuCustom/Sitename/Icon/Icons/Mark_Dady-25.jpg">-->
                <!--<p class="team-member__name">Mark Dady</p>-->
                <!--<p class="member-title">SVP and CPO, Mondelēz International</p></div>-->
            <!--<div class="team-member"><img-->
                    <!--src="https://d38pwt70f9bn29.cloudfront.net/AcuCustom/Sitename/Icon/Icons/cindy_Elliott_bio2.jpg">-->
                <!--<p class="team-member__name">Cindy Elliott</p>-->
                <!--<p class="member-title">VP of Global Strategic Sourcing, The Clorox Company</p></div>-->
            <!--<div class="team-member"><img-->
                    <!--src="https://d38pwt70f9bn29.cloudfront.net/AcuCustom/Sitename/Icon/Icons/Eric-Espinasse-2017.jpg">-->
                <!--<p class="team-member__name">Eric Espinasse</p>-->
                <!--<p class="member-title">CPO, Danske Bank</p></div>-->
            <!--<div class="team-member"><img-->
                    <!--src="https://d38pwt70f9bn29.cloudfront.net/AcuCustom/Sitename/Icon/Icons/Paula-Martinez-small-2017.jpg">-->
                <!--<p class="team-member__name">Paula Martinez</p>-->
                <!--<p class="member-title">Vice President Group Procurement, adidas</p></div>-->
            <!--<div class="team-member"><img-->
                    <!--src="https://d38pwt70f9bn29.cloudfront.net/AcuCustom/Sitename/Icon/Icons/Alberto-Mndez-Rebollo-2017.jpg">-->
                <!--<p class="team-member__name">Alberto Méndez Rebollo</p>-->
                <!--<p class="member-title">CPO, Vattenfall</p></div>-->
            <!--<div class="team-member"><img-->
                    <!--src="https://d38pwt70f9bn29.cloudfront.net/AcuCustom/Sitename/Icon/Icons/Bob-Murphy-IBM-cpo-2017.jpg">-->
                <!--<p class="team-member__name">Bob Murphy</p>-->
                <!--<p class="member-title">CPO, IBM</p></div>-->
            <!--<div class="team-member"><img-->
                    <!--src="https://d38pwt70f9bn29.cloudfront.net/AcuCustom/Sitename/Icon/Icons/Thomas-Udesen-2017.jpg">-->
                <!--<p class="team-member__name">Thomas Udesen</p>-->
                <!--<p class="member-title">Global Head of Procurement, Bayer AG</p></div>-->
            <!--<div class="team-member"><img-->
                    <!--src="https://d38pwt70f9bn29.cloudfront.net/AcuCustom/Sitename/Icon/Icons/kaustubh-wadekar-company.jpg">-->
                <!--<p class="team-member__name">Kaustubh R. Wadekar</p>-->
                <!--<p class="member-title">Group Chief Procurement Officer, Singtel</p></div>-->
        <!--</div>-->


        <!--<div class="text-center inline-block fullwidth">-->
            <!--<a href="m=careers&p=showAll" class="button primary">VIEW AVAILABLE POSITIONS</a>-->
        <!--</div>-->

    <!--</div>-->
<!--</section>-->
