<div class="thank-you-wrapper text-center">
    <div class="max-width-80">
        <div class="thank-you__inner inner-padding">


            <h1 class="text-center">Thank you</h1>
            <h2 class="text-center">Your application for the <em><title</em> position has been submitted.</h2>


            <div class="thank-you__message">
                <p>Please check your email inbox &#8212; You should receive an email confirmation of your
                    application.</p>
                <p>Thank you for submitting your application to us. We will review it shortly and make contact with you
                    soon.</p>
            </div>


            <a href="https://www.procurementleaders.com/company" class="big-link">Learn more about Procurement Leaders</a>


        </div>
    </div>
</div>