Options +FollowSymLinks
RewriteEngine on
RewriteCond %{HTTP_HOST} ^https://plcareers.procurementleaders.com[nc]
RewriteRule ^(.*)$ http://www.https://plcareers.procurementleaders.com/$1 [r=301,nc]

Redirect 301 /?m=careers&p=showAll /positions

RedirectMatch 301 /careers(.*) //$1
 